.col-md-10 .zdgl{text-align: center;width:100%; height: 50px;}
.col-md-10 .zdgl p{background:white;width:100px ; margin: 10px -15px;}
.col-md-10 .zdgls{height: 50px;margin: 10px -15px;} 
.col-md-10 .zdgls span{padding: 20px}
.col-md-10 .zdglx{height: 150px; margin: 10px -15px;} 